body{
    background-color: black;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
  }

  *{
    box-sizing: border-box;
  }
  
  #main{
    color: white;
    margin: 0 auto;
  }
  
  #title{
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
  }
  
  #img-div{
    width: 100%;
    padding: 10px;
    margin: 0;
  }
  
  #image{
    max-width: 100%;
    min-width: 200px;
    display: block;
    margin: 0 auto;
    height: auto;
  }
  
  #img-caption{
    font-size: 1.2em;
    text-align: center;
    color: grey;
    margin: 10px;
  }
  
  #tribute-info{
    color: white;
    width: 100%;
    margin: 5px auto;
  }
  
  #tribute-info h1{
    text-transform: uppercase;
    font-size: 2.2em;
    text-align: center;
  }
  
  #tribute-info ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  #tribute-info li{
    width: 150px;
    height: 150px;
    margin: 8px;
  }
  
  .album{
    position: relative;
    padding: 0;
  }
  
  .album .album-img{
    width: 100%;
    height: 100%;
    
  }
  
  .album .album-overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(89, 89, 89, 0.7);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }
  
  .album .album-overlay:hover{
    opacity: 1;
  }
  
  .album-link:hover{
    text-decoration: underline;
  }
  
  .album-link{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
  }
  
  #connect{
    margin: 0 auto;
    padding: 10px 0;
  }
  
  #connect ul{
    width: 400px;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  #connect li{
    font-size: 1.5em;
    margin: 0 15px;
  }
  
  #connect li a{
    color: white;
  }
  
  #connect li a:hover{
    color: grey;
  }
  